:root {
  --toggle-button-size: 60%;
  --toggle-button-animated--image-url: url('/jstree/www/images/icons/button-animated.gif');
  --toggle-button-closed--image-url: none;
  --toggle-button-opened--image-url: url('/jstree/www/images/icons/button-opened.png');
  --toggle-button-without-subtree--image-url: url('/jstree/www/images/icons/button-without-subtree.svg');

  --background-color--tree: #ffffff;

  --size--tree-element: 1.4rem;

  --text-color--dark: #000000;
  --text-color--hover: darkgreen;

  --border--tree-element: 0px solid #abc;
  --border--subtree-parent: 0px solid #abc;
  --border--tree-element-toggle-button: 0px solid #abc;
}


